<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Styles/Home.css}">
    <title>Libreria </title>
</head>

<body>
    <div class="title">
        <h1>Bienvenidos al sistema de prestamo de libros</h1>

    </div>
    <div class="header">
        <a class="Lib" th:href="@{/adm}"><img th:src="@{Img/pngwing.com.png}" alt="" srcset="" class="IMGLibro"></a>


    </div>
    <div class="contact">

        <a href="https://github.com/DavidFQ2212?tab=repositories"><img th:src="@{/Img/github.png}" alt=""></a>
        <a href="https://www.linkedin.com/in/david-fq/"><img th:src="@{/Img/Linkedin.png}" alt=""></a>



    </div>
</body>

</html>